@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'shepherd.js/dist/css/shepherd.css';

[x-cloak] {
    display: none;
}

body {
    font-family: 'General Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.shepherd-enabled.shepherd-element {
    @apply max-w-60;
}

.shepherd-content {
    @apply rounded-[8px] p-3;
}

.shepherd-button {
    @apply text-white bg-primary-pink-500 rounded-md py-2 px-4 font-semibold text-sm;

    &:not(:disabled):hover {
        @apply bg-primary-pink-500 text-white;
    }

    &.shepherd-button-secondary {
        @apply bg-nav-gray-75 text-nav-gray-600;
    }
}

.shepherd-has-title .shepherd-content .shepherd-header {
    @apply bg-white p-0 px-3 pb-0 pt-3;
}

.shepherd-title {
    @apply font-medium text-xs;
}

.shepherd-text {
    @apply text-nav-gray-100 text-xs p-3 pb-0 mb-4;
}

