@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'shepherd.js/dist/css/shepherd.css';


[x-cloak] {
    display: none;
}

body {
    font-family: 'General Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.shepherd-button {
    @apply text-white bg-primary-pink-500 rounded-md py-2 px-4 font-semibold text-sm;

    &:not(:disabled):hover {
        @apply bg-primary-pink-500 text-white;
    }

    &.shepherd-button-secondary {
        @apply bg-nav-gray-75 text-nav-gray-600;
    }
}

